<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css')}}">
    <!-- <link href="home_old.html"> -->
    <style></style>
</head>

<body>


    <header>
        <div class="chat-box">
            Facing Any Querry?
            <br>
            Chat With Us-<br>
            <div id="sid-id">
                Siddhant Agrawal<br>
                +91 1234567890
            </div>
        </div>

        <div class="navbar">
            <img src="auto_car-16.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus omnis ratione sunt rerum et, neque
                consequatur sint excepturi repudiandae voluptatibus repellat dicta ab libero, non debitis nemo
                reprehenderit suscipit aliquid ex veniam veritatis similique unde? Impedit libero vitae deleniti iure.
            </p>
        </div>

    </header>


    <section>

        <div class="box">
            <h2>Enter the details-FOR NEW USERS ONLY</h2>
            <form method="POST" action="">
                <div class="content">
                    
                    Registration No. : <input class="form-buts" type="text" placeholder="Enter registration no."
                        pattern="[0-9]{2}[a-z,A-Z]{3}[0-9]{4}" id="reg_no" maxlength="9" required autofocus name="reg_no"> <br>
                    
                    Name : <input class="form-buts" type="text" placeholder="Enter Name" id="name" name="name"><br>
                    
                    Date : <input class="form-buts" type="date" placeholder="Enter the date" required name="date"><br>
                    
                    Phone No. : <input class="form-buts" type="tel" id="phone" placeholder="Enter phone no."
                        pattern="[0-9]{10}" maxlength="10" required name="phone"><br>
                    <!-- eligibility: <input type="checkbox" name="my checkbox"> -->
                    
                    Time : <input class="form-buts" type="time" placeholder="enter the time" required name="time"><br>
                    
                    Destination :
                    <select class="place" placeholder="enter the Destination" id="destination" name="destination">
                        <option value="select destination" selected disabled>Select Destination</option>
                        <option value="Chennai Railway Station">Chennai Railway Station </option>
                        <option value="Chennai Airport">Chennai Airport</option>
                    </select><br>
                    <input class="sub" type="submit" value="Submit now">
                </div>
            </form>

        </div>

        <!-- <div class="box">
            <h2>Enter the details-FOR OLD USERS ONLY</h2>
            <form method="POST" action="">
                <div class="content">
                    Registration No. : <input class="form-buts" type="text" placeholder="Enter registration no."
                        pattern="[0-9]{2}[a-z,A-Z]{3}[0-9]{4}" id="reg_no" maxlength="9" required autofocus name="reg_no_old">
                    <input class="sub" type="submit" value="Submit now">
                </div>
            </form>

        </div> -->
       
            <a href="/index1">
                Click here
            </a>
   

        <ul>
            <li>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatem vero architecto cumque sit
                    doloremque, accusantium id, expedita ratione sed debitis, nesciunt laudantium aliquam nisi itaque
                    molestiae
                    enim? Quaerat corporis quod unde facere nisi?

                </p>
            </li>
            <li>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptatum sunt, corporis modi, officiis
                    harum
                    expedita non earum sequi laudantium illum velit, maiores ullam! Recusandae illo quod porro quis vero
                    perferendis fugiat veniam eos?
                </p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet corrupti explicabo doloremque pariatur
                    nisi
                    neque soluta nesciunt omnis dolor, qui totam? Id maxime quas voluptatem ipsum corrupti iste, iusto
                    ea sequi
                    impedit assumenda, provident totam. .</p>
        </ul>
        </li>

        <center>
            <span>
                Contact-<br>
                Anushka Tonk<br>
                H/no.- 118, Shakti Nagar, New Delhi(240001), Delhi, INDIA
            </span>
        </center>


    </section>


</body>

</html>